  .mediaViewInfo {
	--web-view-name: UV Weather;
	--web-view-id: UV_Weather;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: UV_Weather;
}
* {
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: "Helvetica";
	src: url("/helvetica.woff") format("woff");
}
body {
	background: #E5E5E5;
	width: 560px;
	height: 526px;
	background-color: rgba(255,255,255,1);
	border: 0px solid transparent;
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	font-family: 'Helvetica', Tahoma, sans-serif;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	--web-view-name: UV Weather;
	--web-view-id: UV_Weather;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	user-select: none;
}
a:hover {
  cursor: pointer;
}

a.whitelink:link {color: white; text-decoration: none;}
a.whitelink:visited {color: white; text-decoration: none;}
a.whitelink:hover {color: white; text-decoration: none;}
a.whitelink:active {color: white; text-decoration: none;}
a.blacklink:link {color: black; text-decoration: none;}
a.blacklink:visited {color: black; text-decoration: none;}
a.blacklink:hover {color: black; text-decoration: none;}
a.blacklink:active {color: black; text-decoration: none;}

/* clears the 'X' from Chrome */
/*input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }*/

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;

  /* Custom styles */
  height: 12px;
  width: 12px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
  background-position: center;

}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Make scrollbar invisible */
}

.image_background {
	position: absolute;
	width: 250px;
	height: 526px;
	left: 0px;
	top: 0px;
	background-image: url("/images/background/default.png"); 
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid transparent;
}
.current_icon_update {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 25px;
	left: 60px;
	width: 130px;
	height: 130px;
	transform: matrix(1,0,0,1,0,0);
	filter: invert(100%) drop-shadow( 1px 1px 1px rgba(0, 0, 0, .5));
}
.current_temp_group_Class {
	position: absolute;
	top: 125px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
.current_temp_Class {
	position: relative;
	font-weight: 450;
	font-size: 55px;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}
.current_temp_sign_Class {
	position: relative;
	margin-top: 5px;
	margin-bottom: 4px;
	margin-left: 0px;
	font-weight: 450;
	font-size: 25px;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}
.current_temp_sign_city_Class {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.current_accufeel_Class {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);	
	position: relative;
	margin-left: 3px;
	font-weight: 250;
	font-size: 13px;
	color: rgba(255,255,255,1);
	text-align: left;
}
.location_Class {
	position: relative;
	margin: 0 0 6px 6px;
	font-weight: 250;
	font-size: 13px;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}
.location_Class_adj {
	margin: 0 0 6px 6px;
}
.next48_Class {
	position: absolute;
	top: 360px;
	width: 250px;
	margin: 0 auto;
	font-weight: 250;
	font-size: 14px;
	color: rgba(255,255,255,1);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}
.current_icon_Class {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}
.current_temp_maxmin_Class {
	position: absolute;
	top: 195px;
	width: 250px;
	margin: 0 auto;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
}
.current_temp_max_Class {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.current_temp_max_icon_Class {
	font-size: 12px !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(255,255,255,1);
}
.current_temp_min_icon_Class {
	font-size: 12px !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(255,255,255,1);
}
.current_temp_min_Class {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	padding-left: 10px;
}
.down_Class {
	position: absolute;
	width: 11.38px;
	height: 8.4px;
	left: 137px;
	top: 212px;
}
.icon_up_Class {
	transform: rotate(180deg);
	transform-origin: left;
	position: absolute;
	width: 11.38px;
	height: 8.4px;
	left: 74px;
	top: 212px;
}
.group_uv_Class {
	position: absolute;
	left: 0px;
	top: 250px;
}
.current_uv_group_Class {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 250px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
.current_uv_title_Class {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	padding-right: 5px;
}
.current_uv_Class {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.current_uv_note_Class {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	color: rgba(255,255,255,1);
	margin-left: 5px;
}
.icon_uv_Class {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-left: 60px;
	width: 130px;
}
.icon_uv_all_Class {
	width: 15px;
	max-width: 15px;
	height: 15px; 
	margin-right: 2px;
}
.link_qsun_Class {
	position: absolute;
	left: 0px;
	top: 475px;
	width: 250px;
	text-align: center;
	font-weight: 250;
	font-size: 13px;
	color: #ffffff;
	margin: 0 auto;
}

.icon_uv_tip_Class{
	width: 15px;
	max-width: 15px;
	height: 15px; 
	opacity: 0.9;
	margin-right: 2px;
}
.icon_uv_text_tooltip_Class{
	font-weight: 250;
	font-size: 13px !important;
	padding-bottom: 25px !important;
	margin-bottom: 25px !important;
	line-height: 150% !important;
}
.icon_uv_title_tooltip_Class{
	line-height: 250% !important;
}








.title_uv_group_Class {
	position: absolute;
	left: 250px;
	top: 75px;
}
.title_uv_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 22px;
	color: rgba(27,41,52,1);
	width: 310px;
    margin: 0 auto;
}
.title_powered_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
	width: 310px;
    margin: 0 auto;
}
.title_version_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	color: rgba(27,41,52,1);
	width: 310px;
    margin: 0 auto;
    margin-top: 10px;
}
.forecast_tomorrow_Class {
	position: absolute;
	left: 250px;
	top: 200px;
	width: 310px;
	text-align: center;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
    margin: 0 auto;
}
.setting_popup_Class {
	padding-top: 455px !important;
}
.setting_search_text_class{
	position: absolute;
	top: 120px;
	text-align: left;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
	color: rgba(27,41,52,1);
    padding: 30px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important; 	
}

.setting_title_badge_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
	margin-top: 15px;
}
.setting_body_badge_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
}
.setting_title_temp_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
}
.setting_body_temp_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
}
.setting_defualt_text_uv_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
}
.setting_defualt_text_tempc_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
}
.setting_defualt_text_tempf_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
}
.icon_link_app_Class {
	transform: rotate(-90deg);
	transform-origin: left;
	position: absolute;
	width: 11.38px;
	height: 8.4px;
	left: 280.49px;
	top: 371px;
}
.forecast_Class {
	position: absolute;
	left: 280px;
	top: 250px;
}
.one_day_Class {
	position: relative;
}
.two_day_Class {
	position: relative;
}
.three_day_Class {
	position: relative;
}
.hr_forecast {
  	border-top: .5px black;
  	margin-bottom: 8px;
  	margin-top: 7px;
}
.forecast_day_Class {
	position: relative;
	width: 100px;
	max-width: 100px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 16px;
	color: rgba(27,41,52,1);
}
.forecast_uv_Class {
	position: relative;
	width: 50px;
	max-width: 50px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 16px;
	color: rgba(27,41,52,1);
	padding-left: 10px;
}
.forecast_temp_Class {
	position: relative;
	width: 35px;
	max-width: 35px;
	display: inline-block;
	text-align: right;
	font-weight: 250;
	font-size: 16px;
	color: rgba(27,41,52,1);
	padding-right: 10px;
}
.forecast_icon_Class {
	position: relative;
	color: rgba(0,0,0,0);
	line-height: 20px;
	width: 18px;
	max-width: 18px;
	display: inline-block;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid transparent;
}
.forecast_next7_day_Class {
	position: relative;
	width: 100px;
	max-width: 100px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
}
.link_text_app_Class {
	position: absolute;
	left: 280px;
	top: 369px;
	text-align: left;
	font-weight: 250;
	font-size: 13px;
	color: #1b2934;
	vertical-align: center;
}
.link_icon_app_Class {
	font-size: 12px;
}

.link_award_app_Class {
	position: relative;
	width: 16px;
	max-width: 16px;
	height: 16px;
	margin-top: 5px; 
	display: inline-block;
	background-image: url("/images/crown.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
}

.setting_popup_page_Class {
	position: absolute;
	left: 450px;
	top: 480px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}
.setting_popup_icon_Class {
	position: relative;
	width: 20px;
	max-width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url("/images/settings.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
}
.setting_popup_text_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
	margin-right: 5px;
	margin-bottom: 3px;
}
.solar_popup_page_Class {
	position: absolute;
	left: 280px;
	top: 480px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}
.solar_popup_icon_Class {
	position: relative;
	width: 20px;
	max-width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url("/images/sun.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
}
.solar_popup_text_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: rgba(27,41,52,1);
	margin-right: 5px;
	margin-bottom: 3px;
}


.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 0px !important;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}
.blocker:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -250px !important;
}
.blocker.behind {
  background-color: transparent;
}
.title_uv_group_Class_setting {
	position: absolute;
	left: 0px;
	top: 75px;
}
.aboutUs_Class {
	position: relative;
	text-align: left;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
	color: rgba(27,41,52,1);
    padding: 30px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.title_subtitle_modal_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	color: rgba(27,41,52,1);
	width: 310px;
    margin: 0 auto;
    margin-top: 10px;
}
.solar_table_Class {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 170px;
}
.solar_Class {
	position: relative;
}
.solar_title_name_Class{
	font-weight: 600;
	font-size: 13px;
	color: rgba(27,41,52,1);
}
.hr_forecast {
  	border-top: .5px black;
  	margin-bottom: 8px;
  	margin-top: 7px;
}
.solar_name_Class {
	position: relative;
	width: 130px;
	max-width: 130px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
}
.solar_time_Class {
	position: relative;
	width: 100px;
	max-width: 100px;
	display: inline-block;
	text-align: right;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
	padding-left: 10px;
}
.next7_table_Class {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 170px;
}
.next48_table_Class {
	position: absolute;
	left: 50px;
	right: 50px;
	top: 170px;
}
.forecast_day_modal_Class {
	position: relative;
	width: 80px;
	max-width: 80px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
}
.forecast_uv_modal_Class {
	position: relative;
	width: 60px;
	max-width: 60px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
	padding-left: 5px;
}
.forecast_temp_modal_Class {
	position: relative;
	width: 25px;
	max-width: 25px;
	display: inline-block;
	text-align: right;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
	padding-right: 5px;
}
.forecast_temp_min_modal_Class {
	position: relative;
	display: inline-block;
	width: 25px;
	max-width: 25px;
	text-align: right;
	font-weight: 250;
	font-size: 14px;
	color: rgba(27,41,52,1);
	padding-right: 15px;
}
.forecast_icon_modal_Class {
	position: relative;
	color: rgba(0,0,0,0);
	line-height: 18px;
	width: 16px;
	max-width: 16px;
	display: inline-block;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid transparent;
	margin-left: 5px;
}
.summery_modal_Class {
	position: relative;
	font-weight: 250;
	font-size: 12px;
	line-height: 24px;
	color: rgba(27,41,52,1);
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    display: block;
    white-space: normal !important; 
}
.info_popup_page_Class {
	position: absolute;
	left: 530px;
	top: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}
.info_popup_icon_Class {
	position: relative;
	width: 20px;
	max-width: 20px;
	height: 20px;
	display: inline-block;
	background-image: url("/images/info.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
}
.supportUs_title_Class {
	position: relative;
	text-align: center;
	font-weight: 550;
	font-size: 16px;
	line-height: 20px;
	color: rgba(27,41,52,1);
    padding: 60px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.rateUs_text_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
	color: rgba(27,41,52,1);
    padding: 10px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.link_rate_app_Class {
	position: relative;
	width: 105px;
	max-width: 105px;
	height: 18px;
	display: inline-block;
	background-image: url("/images/5-star-rating.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
    margin-top: 5px;
}
.supportUs_text_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
	color: rgba(27,41,52,1);
    padding: 5px 10px 0 10px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.tooltip {
 position: relative;
 border-bottom: 0px dotted red;
 }
 .tooltip .tooltiptext {
 visibility: hidden;
 position: absolute;
 background-color: #000000;
 color: #ffffff;
 text-align: left;
 padding: 10px;
 border-radius: 3px;
 z-index: 1000;
 opacity: 0;
 transition: opacity .6s;
 font-size: 12px;
 line-height: 150%;
 }
 .tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
 }
 .tooltip-top {
 bottom: -50%;
 margin-left: 0;
 left: 0;
 }
 .tooltip-left {
 top: -5px;
 right: 128%;
 }
 .tooltip-bottom {
 top: 125%;
 margin-bottom: 0 !important;
 margin-top: 0 !important;
 padding-bottom: 10 !important;
 padding-top: 10px !important;
 }
 .tooltip-right {
 top: -50%;
 left: 115%;
 }

.modalBlocker {
  width: 560px;
  height: 526px;
  left: 0px;
  top: 0px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  z-index: 1000;
  display: none; 
  position: fixed;
  z-index: 1;
}
.modal {
  position: absolute;
  width: 310px;
  height: 526px;
  left: 250px;
  top: 0px;
  max-width: 310px;
  display: none;
  vertical-align: right;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  background-color: #ffffff;
  z-index: 1000;
}
.modal_next48 {
  height: 526px;
  overflow: auto;
  position: relative;
  width: 310px;
  left: 250px;
  top: 0px;
  max-width: 310px;
  display: none;
  vertical-align: right;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  background-color: #ffffff;
  z-index: 1000;
}
.modal_close {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  display: block;
  width: 15px;
  height: 15px;
  z-index: 1000;
  background-image: url("/images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.setting_unit_badge_Class {
	position: absolute;
	left: 30px;
	top: 455px;	
}

.searchBox_Class {
	position: relative;
	margin: 25px 30px 0 30px;
}

#autoComplete_wrapper {
  position: relative;
  display: inline-block;
}

#autoComplete {
  position: relative;
  text-align: left;
  font-size: 12px;
  color: rgba(27,41,52,1);
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #7f8c8d;
  font-family: inherit;
  font-style: italic;
  font-weight: 300;
  padding: 12px 43px 12px 15px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  background-image: url("/images/icon_search.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  overflow: hidden;
}

#autoComplete_list {
  position: relative;
  z-index: 1000;
  padding: 0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all -webkit-transform 0.1s ease;
  overflow: hidden;
}

.autoComplete_result {
  padding: 0.6rem;
  margin: 0.15rem auto;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  overflow: hidden;
}

.autoComplete_result::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
  overflow: hidden;
}

.autoComplete_result:last-child {
  overflow: hidden;
}

.autoComplete_result:hover {
  cursor: pointer;
  background-color: #efefef;
  overflow: hidden;
}

.autoComplete_result:focus {
  outline: none;
  background-color: #efefef;
  overflow: hidden;
}

.autoComplete_highlighted {
  opacity: 1;
  color: #fb8d26;
  font-weight: bold;
  overflow: hidden;
}

.autoComplete_highlighted::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
  overflow: hidden;
}

.autoComplete_selected {
  cursor: pointer;
  background-color: #efefef;
  overflow: hidden;
}

.no_result {
    margin: 0.15rem auto;
    padding: 0.6rem;
    border: 0.05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    outline: none;
  }