  .mediaViewInfo {
	--web-view-name: UV Weather;
	--web-view-id: UV_Weather;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: UV_Weather;
	--font-color: #424242;
    --bg-color: #fff;
    --bg-color-hr: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(25%, #cfcfcf), color-stop(75%, #cfcfcf));
    --icon-color: invert(29%) sepia(32%) saturate(4%) hue-rotate(318deg) brightness(94%) contrast(94%);
    --bg-color-autosearch: #efefef;
}
* {
	margin: 0;
	padding: 0;
}

/*@media (prefers-color-scheme: dark) {
}*/


[data-theme="dark"] {
    --font-color: #e9e9e9;
    --bg-color: #111111;
    --bg-color-hr: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(25%, #8a8b8c), color-stop(75%, #8a8b8c));
    --icon-color: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    --bg-color-autosearch: #737373;
}



/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
  margin-left: 60px;
  margin-top: -10px !important;
  margin-bottom: 0px !important;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  margin-right: 50px !important;
  margin-top: 9px !important;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 22px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 21px;
}

input:checked + .slider {
  background-color: #FF662B;
  margin-right: 50px !important;
  margin-top: 9px !important;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.slider.round {
  border-radius: 21px;
}

.slider.round:before {
  border-radius: 50%;
}



.theme-switch_setting {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
  margin-left: 15px;
  margin-top: -10px !important;
}

.theme-switch_setting input {
  display:none;
}

.theme-switch_setting_auto_dark {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
  margin-left: -12px;
  margin-top: -10px !important;
}

.theme-switch_setting_auto_dark input {
  display:none;
}

.slider_setting {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  margin-right: 8px !important;
  margin-top: 9px !important;
}

.slider_setting:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 12px !important;
  width: 12px !important;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 21px;
}

input:checked + .slider_setting {
  background-color: #FF662B;
  margin-right: 8px !important;
  margin-top: 9px !important;
}

input:checked + .slider_setting:before {
  transform: translateX(25px);
}

.slider_setting.round {
  border-radius: 21px;
}

.slider_setting.round:before {
  border-radius: 50%;
}




@font-face {
	font-family: "Helvetica";
	src: url("/fonts/helvetica.woff") format("woff");
}

body {
	background: #E5E5E5;
	width: 560px;
	height: 526px;
	font-weight: 250 !important;
	background-color: var(--bg-color);
	border: 0px solid transparent;
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	font-style: normal;
	white-space: nowrap;
	--web-view-name: UV Weather;
	--web-view-id: UV_Weather;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	user-select: none;
  	font-family: Helvetica;
  	color: var(--font-color);
}
a:hover {
  cursor: pointer;
}

a.whitelink:link {color: white; text-decoration: none;}
a.whitelink:visited {color: white; text-decoration: none;}
a.whitelink:hover {color: white; text-decoration: none;}
a.whitelink:active {color: white; text-decoration: none;}
a.blacklink:link {
	background-color: var(--bg-color);
	color: var(--font-color);
	text-decoration: none;
}
a.blacklink:visited {
	background-color: var(--bg-color);
	color: var(--font-color);
	text-decoration: none;
}
a.blacklink:hover {
	background-color: var(--bg-color);
	color: var(--font-color);
	text-decoration: none;
}
a.blacklink:active {
	background-color: var(--bg-color);
	color: var(--font-color);
	text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;

  /* Custom styles */
  height: 12px;
  width: 12px;
  background-image: url("/images/close.png");
  background-repeat: no-repeat;
  background-position: center;

}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Make scrollbar invisible */
}


















.header {
    display: block;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 10;
}

#sidebarMenu {
    height: 526px;
    position: fixed;
    right: 0;
    width: 310px;
    margin-top: 0px;
    transform: translateX(560px);
    transition: transform 0ms ease-in-out;
    z-index: 10100;
   	background-color: var(--bg-color);
}
.sidebarMenuInner{
    margin:45px 0 0 0;
    padding:0;
}
.sidebarMenuInner li{
    list-style: none;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: normal;
    padding: 15px 0px 15px 0;
    margin: 0 30px 0 30px;
.sidebarMenuInner li s}
pan{
    display: block;
    font-size: 14px;
    color: var(--font-color);
}
.sidebarMenuInner :hover{
    color: #FF662B;
}

.sidebarMenuInner li a{
    color: var(--icon-color);
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 11000;
    top: 22px;
    left: 526px;
    width: 22px;
    height: 22px !important;
    border: solid 0px red;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--font-color);
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -7px;
}




























.image_background_Class {
	position: absolute;
	width: 250px;
	height: 526px;
	left: 0px;
	top: 0px;
	filter: brightness(20%);
	background-color: #2a2a2a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid transparent;
	transition: all .8s ease;
}

.current_icon_update {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 25px;
	left: 60px;
	width: 130px;
	height: 130px;
	transform: matrix(1,0,0,1,0,0);
	filter: invert(100%) drop-shadow( 2px 2px 2px rgba(0, 0, 0, .50));
}
.current_temp_group_Class {
	position: absolute;
	top: 125px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
.current_temp_Class {
	position: relative;
	font-weight: 450;
	font-size: 50px;
	color: rgba(255,255,255,1);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
}
.current_temp_sign_Class {
	position: relative;
	margin-top: 7px;
	margin-bottom: 4px;
	margin-left: 0px;
	font-weight: 450;
	font-size: 25px;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
}
.current_temp_sign_city_Class {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.current_accufeel_Class {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);	
	position: relative;
	margin-left: 15px;
	font-weight: 250;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-align: left;
}
.location_Class {
	position: relative;
	margin: 0 0 6px 30px;
	font-weight: 250;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
}
.location_Class_adj {
	margin: 0 0 6px 6px;
}
.report_button_Class {
	position: absolute;
	top: 348px;
	width: 250px;
	margin: 0 auto;
	font-weight: 250;
	font-size: 14px;
	color: rgba(255,255,255,1);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
}
.current_icon_Class {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
}
.current_temp_maxmin_Class {
	position: absolute;
	top: 195px;
	width: 250px;
	margin: 0 auto;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
}
.current_temp_max_Class {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.current_temp_max_icon_Class {
	font-size: 12px !important;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(255,255,255,1);
}
.current_temp_min_icon_Class {
	font-size: 12px !important;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(255,255,255,1);
}
.current_temp_min_Class {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	padding-left: 10px;
}
.down_Class {
	position: absolute;
	width: 11.38px;
	height: 8.4px;
	left: 137px;
	top: 212px;
}
.icon_up_Class {
	transform: rotate(180deg);
	transform-origin: left;
	position: absolute;
	width: 11.38px;
	height: 8.4px;
	left: 74px;
	top: 212px;
}
.group_uv_Class {
	position: absolute;
	left: 0px;
	top: 250px;
}
.current_uv_group_Class {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 250px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
.current_uv_title_Class {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	padding-right: 5px;
}
.current_uv_Class {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.current_uv_note_Class {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	color: rgba(255,255,255,1);
	margin-left: 5px;
}
.icon_uv_Class {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-left: 60px;
	width: 130px;
}
.icon_uv_all_Class {
	width: 15px;
	max-width: 15px;
	height: 15px; 
	margin-right: 2px;
}
.link_qsun_Class {
	position: absolute;
	left: 0px;
	top: 467px;
	width: 250px;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	color: #ffffff;
	margin: 0 auto;
}

.icon_uv_tip_Class{
	width: 15px;
	max-width: 15px;
	height: 15px; 
	opacity: 0.9;
	margin-right: 2px;
}
.icon_uv_text_tooltip_Class{
	font-weight: 250;
	font-size: 13px !important;
	padding-bottom: 25px !important;
	margin-bottom: 25px !important;
	line-height: 150% !important;
}
.icon_uv_title_tooltip_Class{
	line-height: 250% !important;
}








.title_uv_group_Class {
	position: absolute;
	left: 325px;
	top: 67px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    to {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    to {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}
.uv_weather_logo_Class {
	width: 50px;
	height: 50px;
	padding-right: 5px;
	-webkit-animation: focus-in-contract .75s cubic-bezier(.25,.46,.45,.94) .1s both;
    animation: focus-in-contract .75s cubic-bezier(.25,.46,.45,.94) .1s both;
}


.title_uv_Class {
	position: relative;
	text-align: left;
	font-size: 15px;
}
.title_powered_Class {
	position: relative;
	text-align: left;
	font-weight: 250;
	font-size: 9px;
}
.title_version_Class {
	position: relative;
	text-align: left;
	font-weight: 250;
	font-size: 9px;
	margin-top: 2px;
}



.forecast_tomorrow_Class {
	position: absolute;
	left: 250px;
	top: 200px;
	width: 310px;
	text-align: center;
	font-weight: 250;
	font-size: 14px;
    margin: 0 auto;
}
.setting_popup_Class {
	padding-top: 455px !important;
}
.search_search_text_class {
	position: absolute;
	top: 158px;
	text-align: left;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
    padding: 30px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important; 	
}

.search_currentLocation_title_class {
	margin-top: 15px;
}

.setting_body_badge_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
}

.setting_body_temp_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
}
.setting_defualt_text_uv_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
}
.setting_defualt_text_tempc_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}
.setting_defualt_text_tempf_Class {
	position: relative;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}
.icon_link_app_Class {
	transform: rotate(-90deg);
	transform-origin: left;
	position: absolute;
	width: 11.38px;
	height: 8.4px;
	left: 280.49px;
	top: 371px;
}
.forecast_Class {
	position: absolute;
	left: 280px;
	top: 247px;
}
.one_day_Class {
	position: relative;
}
.two_day_Class {
	position: relative;
}
.three_day_Class {
	position: relative;
}
.hr_forecast {
    height: 1px;
    border: 0;
    background: var(--bg-color-hr); 
    width: 116% !important;
    margin-left: -9% !important;
  	margin-bottom: 8px;
  	margin-top: 7px;
}
.hr_forecast_menu {
    height: 1px;
    border: 0;
    background: var(--bg-color-hr); 
    width: 100% !important;
}
.forecast_day_Class {
	position: relative;
	width: 100px;
	max-width: 100px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 16px;
}
.forecast_uv_Class {
	position: relative;
	width: 60px;
	max-width: 60px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 16px;
	padding-left: 10px;
}
.forecast_temp_Class {
	position: relative;
	width: 35px;
	max-width: 35px;
	display: inline-block;
	text-align: right;
	font-weight: 250;
	font-size: 16px;
	padding-right: 10px;
}
.forecast_icon_Class {
	position: relative;
	color: rgba(0,0,0,0);
	line-height: 20px;
	width: 18px;
	max-width: 18px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid transparent;
	filter: var(--icon-color);
}

.link_text_app_Class {
	position: absolute;
	left: 280px;
	top: 369px;
	text-align: left;
	font-weight: 250;
	font-size: 13px;
	color: #1b2934;
	vertical-align: center;
}
.link_icon_app_Class {
	font-size: 12px;
}

.link_award_app_Class {
	position: relative;
	width: 16px;
	max-width: 16px;
	height: 16px;
	margin-top: 5px; 
	transition: all 5s ease-in-out;
}



.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 0px !important;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}
.blocker:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -250px !important;
}
.blocker.behind {
  background-color: transparent;
}
.title_uv_group_Class_setting {
	position: absolute;
	left: 0px;
	top: 30px;
}
.title_uv_group_Class_report {
	position: absolute;
	left: 0px;
	top: 67px;
}
.aboutUs_Class {
	position: relative;
	text-align: left;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
    padding: 30px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.title_subtitle_modal_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	width: 250px;
    margin: 0 30px 0 30px;
    margin-top: 10px;
}
.solar_table_Class {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 130px;
}
.solar_Class {
	position: relative;
}
.solar_title_name_Class{
	font-weight: 600;
	font-size: 13px;
}
.hr_forecast {
  	border-top: .5px black;
  	margin-bottom: 8px;
  	margin-top: 7px;
}
.solar_name_Class {
	position: relative;
	width: 130px;
	max-width: 130px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
}
.solar_time_Class {
	position: relative;
	width: 100px;
	max-width: 100px;
	display: inline-block;
	text-align: right;
	font-weight: 250;
	font-size: 14px;
	padding-left: 10px;
}
.next7_table_Class {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 100px;
}
.next48_table_Class {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 100px;
}
.forecast_day_modal_Class {
	position: relative;
	width: 65px;
	max-width: 65px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
}
.forecast_uv_modal_Class {
	position: relative;
	width: 55px;
	max-width: 55px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
	padding-left: 5px;
}
.forecast_temp_modal_Class {
	position: relative;
	width: 24px;
	max-width: 24px;
	display: inline-block;
	text-align: right;
	font-weight: 250;
	font-size: 14px;
	padding-right: 2px;
}
.forecast_temp_min_modal_Class {
	position: relative;
	display: inline-block;
	width: 24px;
	max-width: 24px;
	text-align: right;
	font-weight: 250;
	font-size: 14px;
	padding-right: 15px;
}
.forecast_icon_modal_Class {
	position: relative;
	color: rgba(0,0,0,0);
	line-height: 18px;
	width: 16px;
	max-width: 16px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid transparent;
	margin-left: 5px;
	filter: var(--icon-color);
}
.summery_modal_Class {
	position: relative;
	font-weight: 250;
	font-size: 12px;
	line-height: 24px;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    display: block;
    white-space: normal !important;
    text-align: center;
}

.text_setting_Class {
	position: absolute;
	top: 90px;
	text-align: left;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
    padding: 10px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.supportUs_title_Class {
	position: absolute;
	top: 280px;
	text-align: center;
	font-weight: 550;
	font-size: 16px;
	line-height: 20px;
    padding: 25px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.rateUs_text_Class {
	position: absolute;
	top: 290px;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
    padding: 10px 30px 0 30px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.link_rate_app_Class {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 75px;
	display: inline-block;
	background-image: url("/images/uv-weather-rate.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
    margin-top: 5px;
    filter: var(--icon-color);
}
.supportUs_text_Class {
	position: relative;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
    padding: 5px 10px 0 10px;
    overflow: hidden;
    display: block;
    white-space: normal !important;
}
.tooltip {
 position: relative;
 border-bottom: 0px dotted red;
 }
 .tooltip .tooltiptext {
 visibility: hidden;
 position: absolute;
 background-color: #000000;
 color: #ffffff;
 text-align: left;
 padding: 10px;
 border-radius: 3px;
 z-index: 16000;
 opacity: 0;
 transition: opacity .6s;
 font-size: 12px;
 line-height: 150%;
 }
 .tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
 }
 .tooltip-top {
 bottom: -50%;
 margin-left: 0;
 left: 0;
 z-index: 15000; 
 }
 .tooltip-left {
 top: -5px;
 right: 128%; 
 z-index: 15000;
 }
 .tooltip-bottom {
 top: 125%;
 margin-bottom: 0 !important;
 margin-top: 0 !important;
 padding-bottom: 10 !important;
 padding-top: 10px !important;
 z-index: 15000;
 }
 .tooltip-right {
 top: -50%;
 left: 115%;
 z-index: 15000;
 }

.modal {
  position: absolute;
  width: 310px;
  height: 426px;
  left: 250px;
  top: 37px;
  max-width: 310px;
  display: none;
  vertical-align: right;
  width: 100%;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
  background-color: var(--bg-color);
  color: var(--font-color);
  z-index: 1000;
}

.modal_next48 {
	height: 412px;
	overflow: auto;
	position: absolute;
	width: 310px;
	left: 250px;
	top: 37px;
	max-width: 310px;
	display: none;
	vertical-align: right;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	border-radius: 0px !important;
	background-color: var(--bg-color);
	color: var(--font-color);
	 z-index: 1100;
}
.modal_close {
  position: absolute;
  top: 15.5px;
  left: 15.5px;
  display: block;
  width: 30px;
  height: 30px;
  z-index: 1000;
  background-image: url("/images/left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 10500;
  filter: var(--icon-color);
}

.searchBox_Class {
	position: absolute;
	top: 53px;
	margin: 0 30px 0 30px;
}

.no_result {
    margin: .15rem auto;
    padding: 0.6rem;
    list-style: none;
    text-align: left;
    transition: all 0.1s ease-in-out;
	background-color: var(--bg-color);
	color: var(--font-color);
    outline: none;
    white-space: normal;
  	line-height: 150%;
  }

 .button_current_report_missing_Class {
  background-color: #ff662b;
  border: solid 1px #ff662b;
  border-radius: 20px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 25px 0px 25px 5px;
  cursor: pointer;
  transition: all 0.15s;
  align-content: center;
}

.button_current_report_missing_Class:hover { 
  background-color: white;
  border: solid 1px #ff662b;
  color: #ff662b;
}

.button_current_report_missing_Class:focus { outline:0 !important; }


 .button_current_report_Class {
  background-color: rgba(27,41,52,0);
  border: solid 1px white;
  border-radius: 20px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.15s;
}

.button_current_report_Class:focus { outline:0 !important; }

.current_report_title_Class {
	position: relative;
	width: 110px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
}
.current_report_value_Class {
	position: relative;
	width: 160px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
	padding-left: 5px;
}
.report_model_Class {
	position: relative;
}
.report_table_Class {
	position: relative;
	width: 250px;
	max-width: 250px;
	margin: 25px 30px 0 30px;
}

.modal_report {
  	height: 450px;
  	overflow: auto;
  	position: absolute;
  	width: 310px;
  	left: 250px;
  	top: 0px;
  	max-width: 310px;
  	display: none;
  	vertical-align: right;
  	-webkit-border-radius: 0px !important;
  	-moz-border-radius: 0px !important;
  	-o-border-radius: 0px !important;
  	-ms-border-radius: 0px !important;
  	border-radius: 0px !important;
	background-color: var(--bg-color);
	color: var(--font-color);
  	z-index: 12000;
}

.setting_currentLocation_title_class{
	margin-top: 25px;
}
.icon_raindrop_Class {
	width: 10px;
	height: 10px; 
	margin-left: 15px;
	margin-top: 2px;
	margin-right: 0;
	padding-right: 0;
}
.forecast_rain_modal_Class {
	position: relative;
	width: 25px;
	max-width: 25px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 13px;
	margin-right: 10px;
	margin-left: 0;
	padding-left: 0;
}
.forecast_uv_daily_modal_Class {
	position: relative;
	width: 55px;
	max-width: 55px;
	display: inline-block;
	text-align: left;
	font-weight: 250;
	font-size: 14px;
	padding-left: 25px;
}

.icon_play_Class {
	position: relative;
	width: 10px;
	max-width: 10px;
	height: 10px;
	display: inline-block;
  	background-image: url("/images/angle-arrow-pointing-to-right.svg");
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	cursor: pointer;
  }

.main_menu_home_Class {
	position: absolute;
	left: 250px;
	top: 468px;
	margin-left: 10px;
}
.main_menu_Class {
	position: absolute;
	top: 468px;
	margin-left: 20px;
}
.main_menu_culumn_Class{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 290px;
}
.sub_menu_culumn_Class {
	width: 60px;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	vertical-align: middle;
}

.sub_menu_icon_Class {
	width: 20px;
	height: 20px;
	filter: opacity(70%);
	filter: var(--icon-color);
}

.sub_menu_current_Class {
	margin-bottom: 5px;
}

.sub_menu_current_icon_Class {
	width: 25px;
	height: 25px;
}

.sub_menu_text_Class {
	font-weight: 250;
	font-size: 9px;
}

.sub_menu_icon_Class:hover {
	filter: invert(48%) sepia(52%) saturate(2544%) hue-rotate(342deg) brightness(101%) contrast(101%) !important;
}

.sub_menu_icon_active_Class {
	filter: invert(48%) sepia(52%) saturate(2544%) hue-rotate(342deg) brightness(101%) contrast(101%) !important;
}

.report_button_Class:hover {
	filter: sepia(5%) saturate(652%) hue-rotate(198deg) brightness(117%) contrast(77%);
}

.link_flickr_Class {
	position: absolute;
	left: 5px;
	top: 511px;
	width: 150px;
	text-align: left;
	font-weight: 250;
	font-size: 9px;
	color: #a9a9a9;
	margin: 0 auto;
}

.share_group_Class {
	position: absolute;
	left: 190px;
	top: 507px;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	vertical-align: middle;
}

.icon_eart_Class {
	width: 12px;
	height: 12px; 
	margin-left: 4px;
	margin-bottom: 12px;
	filter: invert(100%) drop-shadow( 2px 2px 2px rgba(0, 0, 0, .50));
}

.modal_map {
  	position: absolute;	
	left: 0px;
  	top: 0px;
	width: 100%;
	height: 526px;

}

.map_Class { 
  	position: absolute;
	left: 0px;
  	top: 0px;
	width: 100%;
	height: 526px;
	z-index: 12000;
	visibility: hidden;
}

.modal_map_close {
  	position: absolute;
  	top: 15.5px;
  	left: 15.5px;
  	width: 30px;
  	height: 30px;
  	background-image: url("/images/left-arrow.svg");
  	filter: var(--icon-color);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	cursor: pointer;
  	z-index: 13500;
  	visibility: hidden;
}

.modal_map_title {
  	position: absolute;
 	top: 500px;
  	left: 15.5px;
  	display: block;
  	filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .50));
  	z-index: 13500;
	text-align: left;
	font-weight: 250;
	font-size: 12px;
	color: var(--font-color);
	visibility: hidden;	
	backdrop-filter: blur(1px);
}

.mapboxgl-ctrl-logo {
    width: 0px !important;
    height: 0px !important;
    margin: 0 0 -3px -3px;
    display: hidden !important;
    background-repeat: no-repeat;
}

.mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    position: absolute;
    pointer-events: none;
    z-index: 17500 !important;
    display: hidden !important;
    width: 0px !important;
    height: 0px !important;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  	display: inline-block
}

.resp-sharing-button__link {
  	text-decoration: none;
  	color: #fff;
  	margin-left: .35em;
}

.resp-sharing-button {
  	border-radius: 10px;
  	transition: 25ms ease-out;
}

.resp-sharing-button__icon svg {
  	width: .85em;
  	height: .85em;
  	vertical-align: top
}

.resp-sharing-button--small svg {
  	margin: 0;
  	margin-top: .32em;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  	stroke: #fff;
  	fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid {
 	fill: #fff;
 	filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .50));
  	stroke: none
}

.resp-sharing-button--facebook {
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
	filter: invert(34%) sepia(7%) saturate(6315%) hue-rotate(185deg) brightness(86%) contrast(80%);
}

.resp-sharing-button--twitter {
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
	filter: invert(48%) sepia(60%) saturate(2083%) hue-rotate(183deg) brightness(96%) contrast(89%);
}

.resp-sharing-button--linkedin {
}

.resp-sharing-button--linkedin:hover {
  filter: invert(20%) sepia(41%) saturate(7105%) hue-rotate(186deg) brightness(101%) contrast(101%);
}

.modal_noInternet {
  	position: absolute;	
	left: 0px;
  	top: 0px;
	bottom: 0px; 
	width: 100%;
	height: 526px;

}

.noInternet_popup_Class { 
  	position: absolute;
	left: 0px;
  	top: 0px;
	width: 560px;
	height: 526px;
	z-index: 10600;
	background-color: #ffffff;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	visibility: hidden;
}

.noInternet_content_Class {
  	position: absolute;
  	display: block;
  	top: 95px;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.noInternet_image_Class {
  	position: relative;
  	display: block;
    width: 130px;
    height: 130px;
    left: 215px;
}

.noInternet_title_Class {
  	position: relative;
  	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #000000;
	width: 560px;
}

.noInternet_text_Class {
  	position: relative;
  	display: block;
  	margin-top: 25px;  	
	text-align: center;
	width: 560px;
	font-weight: 200;
	font-size: 17px;
	color: #000000;
	line-height: 26px;
}

.search_home_Class {
	position: absolute;
	left: 500px;
  	top: 20px;
}

.menu_home_Class {
	position: absolute;
	left: 550px;
  	top: 15px;
}

.title_page_Class {
	position: relative;
	text-align: center;
	font-size: 16px;
	font-weight: 500!important;
}
.top_menu_icon_Class {
	width: 17px;
	height: 17px;
	filter: opacity(50%);
	filter: var(--icon-color);
}
.top_menu_icon_Class:hover {
	filter: invert(48%) sepia(52%) saturate(2544%) hue-rotate(342deg) brightness(101%) contrast(101%);
}
.search_or_text_class {
	position: absolute;
	top: 102px;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
    display: block;
}
.currentLocation_button_Class {
	position: relative;
	width: 310px;
	margin: 11px auto;
	font-weight: 250;
	font-size: 12px;
	color: rgba(0,0,0,1);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}
 .button_current_location_Class {
  background-color: var(--bg-color);
  color: var(--font-color);
  border: solid 1px #ccc;
  border-radius: 3px;
  width: 250px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.15s;
}

.button_current_location_Class:hover { 
	outline:1 !important; 
	color: #FF662B;
	border: solid 1px #FF662B;
}

.search_currentLocation_text_class {
	font-weight:bold !important;
}

.rateUs_home_text_Class {
	position: absolute;
	top: 375px;
	left: 250px;
	width: 310px;
	text-align: center;
	font-weight: 250;
	font-size: 12px;
	line-height: 20px;
    padding: 0 auto;
    display: block;
    font-size: 10px;
}
.link_rate_app_home_Class {
	position: relative;
	width: 130px;
	height: 65px;
	display: inline-block;
	background-image: url("/images/uv-weather-rate.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: center;
}

.noResult_text_Class {
	width: 310px !important;
	text-align: left !important;
	font-weight: 250 !important;
	font-size: 14px !important;
	color: rgba(27,41,52,1) !important;
    margin: 0 auto !important;
    white-space: normal !important;
    display: block !important;
}


.suggestions-wrapper {
  z-index: 27500!important;
}


.geocoderClass {
  position: absolute;
  z-index: 1;
  width: 250px;
  left: 250px;
  margin-left: 50px;
  top: 10px;
  z-index: 17500!important;
}

.mapboxgl-ctrl-geocoder {
    font-size: 14px !important;
    line-height: 18px;
    position: relative;
    background-color: #fff;
    width: 100%;
    min-width: 250px !important;
  	z-index: 27500!important;
    border-radius: 2px !important;
    transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder--input {
	height: 40px !important;
	padding-left: 12px !important;
	line-height: 14px !important;
    z-index: 27500!important;
}

.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 9px !important;
    left: 196px !important;
    width: 23px;
    height: 23px;
    display: none !important;
}

.mapboxgl-ctrl-geocoder--icon-close {
    width: 20px;
    height: 20px;
    margin-top: 3px !important;
    margin-right: 3px;
}

.mapboxgl-ctrl-geocoder .suggestions {
  font-size: 14px !important;
  z-index: 27500 !important;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  padding: 3px 12px !important;
  z-index: 27500!important;
}


.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions {
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    z-index: 27500!important;
}

.modal_search {
  	position: absolute;	
	left: 250px;
  	top: 0px;
	width: 310px;
	height: 526px;

}

.search_Class { 
  	position: absolute;
	left: 250px;
  	top: 0px;
	width: 310px;
	height: 526px;
	z-index: 15000;
	filter: brightness(105%)!important;
	visibility: hidden;
}

.modal_search_close {
  	position: absolute;
  	top: 15.5px;
  	left: 265.5px;
  	width: 30px;
  	height: 30px;
  	background-image: url("/images/left-arrow.svg");
    filter: var(--icon-color);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	cursor: pointer;
  	z-index: 15500;
  	visibility: hidden;
}

.modal_search_title {
  	position: absolute;
 	top: 509px;
  	left: 439px;
  	display: block;
  	filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, .5));
  	z-index: 15500;
	text-align: left;
	font-weight: 250;
	font-size: 11px;
	color: var(--font-color);
	visibility: hidden;
	backdrop-filter: blur(1px);
}


.click_on_map_Class {
  	position: absolute;
 	top: 10px; /* 50px*/
 	padding-top: 8px;
  	left: 250px;
  	display: block;
  	z-index: 15000;
	text-align: center;
	margin-left: 50px;
	margin-right: 10px;
	font-weight: 600;
	font-size: 14px;
	color: var(--font-color);
	width: 250px;
	line-height: 24px;
	visibility: hidden;
	backdrop-filter: blur(1px);
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 72px 10px 0 0 !important;
    float: right;
}

.mapboxgl-map {
	position: absolute !important;
}

.mapbox-gl-geocoder--error {
	padding: 16px 12px 16px 12px !important;
}

.blurIn {
	filter: blur(3px) grayscale(70%)!important;
}
.blurOut {
	filter: blur(0px) grayscale(0%)!important;
	transition: all 2s ease-out;
}

ul li{
  color: var(--font-color);
  display: flex;
  position: relative;
  float: left;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0 5px 50px;
  margin: 0px auto 55px 0px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: var(--font-color);
}

ul li .check{
  display: inline-block;
  position: absolute;
  border: 3px solid;
  border-color: var(--font-color);
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 1px;
  left: 25px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 3px solid;
  border-color: var(--font-color);
}

ul li .check::before {
  display: inline-block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 9px;
  width: 9px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid #F06522;
}

input[type=radio]:checked ~ .check::before{
  background: #F06522;
}

input[type=radio]:checked ~ label{
  color: #F06522;
}

.setting_unit_badge_Class {
	position: absolute;
	left: 0px;
	top: 130px;
  	font-size: 12px;
}

.setting_title_section_unit_Class {
	position: absolute;
	left: 25px;
	top: -20px;
	margin-bottom: 10px;
}
.setting_title_section_badge_Class {
	position: absolute;
	left: 25px;
	top: 60px;
	margin-bottom: 10px;
}
.setting_title_section_theme_Class {
	position: absolute;
	left: 25px;
	top: 140px;
	margin-bottom: 10px;
}
.setting_section_badge_color_Class {
	position: absolute;
	left: 25px;
	top: 200px;
  	margin-right: 25px !important;
  	padding-right: 25px !important;
}

.setting_section_auto_dark_Class {
	position: absolute;
	left: 25px;
	top: 235px;
}
.setting_section_title_auto_dark_Class {
  	margin-right: 35px !important;
}

.setting_defualt_theme_l_Class {
  	margin-right: -25px !important;
}

.card {
  position: absolute;
  top: 310px;
  left: 280px;
  width: 290px;
  height: 140px;
  overflow: scroll;
}


.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

.F_C_Class {
	position: relative;
	z-index: 100 !important;
	color: rgba(255,255,255,1);
	font-weight: 450;
	font-size: 15px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
	margin-top: 10px;
	margin-left: 2px;
	padding-right: 10px;
}

.F_sign_Class {
	display: block;
	cursor: pointer;
}

.C_sign_Class {
	display: block;
	cursor: pointer;
}